/* NAVBAR */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #D0CBDC!important;
  color: aliceblue!important;
}

h1, h2, h3{
  font-weight: bold!important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.navbar a {
  color: aliceblue!important;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand {
  margin: 0.3rem !important;
  padding: 0 !important;
}

.navbar-brand img {
  max-width: 64px;
}

/* SECTION HOME */

.home-section {
  background-image: url('../images/background_art.jpg');
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  height: 100vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-container iframe {
  width: 960px;
  height: 540px;
  max-height: 100%;
  max-width: 100%;
}

.title_reel h1, .title_reel h2{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mainContent{
  margin-top: 5rem;
}

/* SECTION CONTACT */

.contact-section {
  height: 100vh;
}

.container-section{
  padding-top: 7rem;
  padding-bottom: 7rem;
  height: 70vh;
  color: #071F4E;
}

/* Styles pour personnaliser les champs de formulaire */
.custom-form-control {
  position: relative;
  margin-bottom: 1rem;
}

.custom-form-control input,
.custom-form-control textarea {
  border: none;
  border-bottom: 2px solid #071F4E;
  background-color: transparent!important;
  border-radius: 0!important;
  box-shadow: none!important;
  transition: border-color 0.2s ease-in-out;
  width: 100%; /* Utilise toute la largeur disponible */
  padding: 0.5rem 0; /* Espacement du texte à l'intérieur */
}

.custom-form-control input:focus,
.custom-form-control textarea:focus {
  border-bottom: 1px solid #071F4E;
}

.btn-primary {
  color: #fff;
  background-color: #536083!important;
  border: none!important;
  border-radius: 15px!important;
  padding: 0.7rem 2rem!important;
}

/* SECTION MESSAGE */

.message-section {
  position: relative;
  height: 30vh;
  overflow: hidden; /* Empêche le flou de déborder de la section */
  color: #E4A193;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background_art.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(30px);
  z-index: -1;
}

.container-message{
  width: 100%;
  height: 100%;
}

.message-text{
  font-size: 2.2rem;
}